<div class="container">
  <p class="item-top">
    <span class="author">{{ item.by }}</span>
    <span class="date">{{ getDateString(item.time) }}</span>
  </p>
  <p>{{ item.type }}</p>
  <h2><a [href]="item.url">{{ item.title }}</a></h2>

  <p [class.notEmpty]="name">Name: {{ name }}</p>

  <input type="text" [(ngModel)]="name" />
  <input type="number" [(ngModel)]="age" />

  <checkbox
    id="meh"
    [checked]="isUnknown"
    (onChange)="onChange($event)"
  ></checkbox>

  <input-field [(textData)]="text"></input-field>

  <child-comp [title]="name" [userAge]="age" [isUnknown]="isUnknown"></child-comp>


  <p>Text: {{ text }}</p>
</div>