<div class="container">
  <p class="item-top">
    <span bold class="author">{{ item.by }}</span>
    <span bold class="date">{{ getDateString(item.time) }}</span>
  </p>
  <p>{{ item.type }}</p>
  <h2><a [href]="item.url">{{ item.title }}</a></h2>

  <p [class.notEmpty]="name">Name: {{ name }}</p>

  <input type="text" [(ngModel)]="name" />
  <input type="number" [(ngModel)]="age" />

  <checkbox
    id="meh"
    [checked]="isUnknown"
    (onChange)="onChange($event)"
  ></checkbox>

  <input-field [(textData)]="text"></input-field>

  <child-comp [title]="name" [userAge]="age" [isUnknown]="isUnknown"></child-comp>

  <!-- use template variables -->
  <counter #counter></counter>
  <button (click)="counter.increment()">+</button>
  <button (click)="counter.decrement()">-</button>

  <!-- use viewChild -->
  <counter-comp></counter-comp>
  <button (click)="increment()">+</button>
  <button (click)="decrement()">-</button>


  <p>Text: {{ text }}</p>

  <!-- use ContentChild -->
  <content-child>
    <h3 #headerContent>welcome {{ greetingName }}!</h3>
  </content-child>

  <data-comp></data-comp>

  <p italic>test italic  directive</p>
  <p underline>test underline directive</p>
</div>